{% extends 'base.html' %}

{% block body %}
<section id="portfolio">
    <div class="container">
        <div class="col-lg-12 text-center">
                <div>
                    <h2>Contact</h2>
                    <table style="position: relative; margin-left: auto; margin-right:auto;">
                        <tr>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Phone Extension</th>
                            <th>Email</th>
                        </tr>
                        <tr> 
                            <td>Dr. Amarnath Hedge</td>
                            <td>Professor In-charge</td>
                            <td>8031</td>
                            <td>tpc</td>
                        </tr>
                        <tr> 
                            <td>Ashish Kumar</td>
                            <td>Office Staff</td>
                            <td>8091</td>
                            <td>ashishkumar</td>
                        </tr>
                    </table>
        </div>
    </div>
</section>
        
    <body>
        Please use 0612-302 for calling at extension
        and append the email ID with @iitp.ac.in
    </body>
	</body>
{% endblock %}