{% extends 'base.html' %}

{% block body %}
<style>
	 th, td {
			padding: 15px;
            align: left;
	}
</style>
<section id="portfolio">
    <div class="container">
        <div class="col-lg-12 text-center">
                <div>
                    <h2><b>Contact</b></h2>
                    <center>
                    <table >
                        <tr>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Phone Extension</th>
                            <th>Email</th>
                        </tr>
                        <tr> 
                            <td>Dr. Amarnath Hedge</td>
                            <td>Professor In-charge</td>
                            <td>8031</td>
                            <td>tpc</td>
                        </tr>
                        <tr> 
                            <td>Ashish Kumar</td>
                            <td>Office Staff</td>
                            <td>8091</td>
                            <td>ashishkumar</td>
                        </tr>
                    </table>
                </center>
        </div>
    </div>
</section>
        
    <body>
       <center> Please use 0612-302 for calling at extension and append the email ID with @iitp.ac.in</center>
    </body>
	</body>
{% endblock %}