{% extends 'base.html' %}

{% block title %}Company login{% endblock %}

{% block body %}
<div style="position:relative; bottom:100px"><center>
        <h2>Company Signup</h2>
</center></div>

<div style="position:relative; left:370px; bottom:50px">
        <div class="container">
            <form method="post">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <div class="social-btns" style="position: absolute; right:750px; top:500px">
                            <button type="submit">
                                <a class="ln clogin"> <i class="fa">Signup</i></a>
                            </button>
                     </div> 
            </form>
        </div>
    </div>
    
        
    

{% endblock %}