<!DOCTYPE html>

<html lang="en">
	<head>
        <meta charset="utf-8">
        <title>TPC Management System</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/static/bootstrap.min.js"></script>
		<script src="/static/SmoothScroll.js"></script>
        <script src="/static/theme-scripts.js"></script>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="/static/logo.png">
		<!-- Bootstrap core CSS -->
		<link href="/static/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- Custom styles for this template -->
        <link href="/static/style.css" rel="stylesheet">
        <link href="/static/btns.css" rel="stylesheet">
        
	</head>
	<style>
	img {
		opacity: 0.25;
		filter: alpha(opacity=44); /* For IE8 and earlier */
		display: block;
		margin-left: auto;
        margin-right: auto;
        height: 450px;
	}
	h2{
		font-weight:270;
	}
    h3{ 
    position: absolute; 
    top: 200px; 
    left: 0; 
    width: 100%; 
    }
	</style>
	<div>
		<a ><img src="/static/logo.png" class="center" ></a>
		<h3>
		Sorry, we couldn't find the page you requested.
		</h3>
	</div>
</html>