{% extends 'student/studbase.html' %}

{% block body %}
<style>
	table,
	th,
	td {
		border: 1px solid black;
		border-collapse: collapse;
		padding: 15px;
	}
	i {
	  display: inline-block;
	  padding: 3px;
	}
	
	.up {
		border: solid green;
		border-width: 0 3px 3px 0;
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	}
	
	.down {
		border: solid red;
		border-width: 0 3px 3px 0;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
</style>
<body id="page-top">
		<h1><b><center>My Applications</center></b></h1>
	<table style="position: relative; margin-left: auto; margin-right:auto;">
		<tr>
			<th>Sr.no</th>
            <th>Position
					<a href="/tpcm_app/student/myapplications?sort=1"><i class="up"></i></a>
					<a href="/tpcm_app/student/myapplications?sort=-1"><i class="down"></i></a>
			</th>
            <th>Company
					<a href="/tpcm_app/student/myapplications?sort=2"><i class="up"></i></a>
					<a href="/tpcm_app/student/myapplications?sort=-2"><i class="down"></i></a>
			</th>
			<th>Date of online test
					<a href="/tpcm_app/student/myapplications?sort=3"><i class="up"></i></a>
					<a href="/tpcm_app/student/myapplications?sort=-3"><i class="down"></i></a>
			</th>
			<th>Application Status
					<a href="/tpcm_app/student/myapplications?sort=4"><i class="up"></i></a>
					<a href="/tpcm_app/student/myapplications?sort=-4"><i class="down"></i></a>
			</th>
		</tr>
		{% for item in query %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{item.pos.pos_name}}</td>
                <td>
                    {{item.pos.cmp_name.name}}
                </td>
				<td>{{item.pos.test_date}}</td>
				<td>
				{% if item.stat == 0 %}
					<div>
						Pending
					</div>
					{% elif item.stat == 1%}
					<div>
						Accepted
					</div>
					{% else %}
					<div>
						Rejected
					</div>
				{% endif %}
				</td>
            </tr>
		{% endfor %}
	</table>
</body>
{% endblock %}