{% extends 'student/studbase.html' %}

{% block body %}
<style>
	table,
	th,
	td {
		border: 1px solid black;
		border-collapse: collapse;
		padding: 15px;
	}
</style>
<body id="page-top">
	<table style="position: relative; margin-left: auto; margin-right:auto;">
		<tr>
			<th>Sr.no</th>
            <th>Position</th>
            <th>Company</th>
			<th>Date of online test</th>
			<th>Application Status</th>
		</tr>
		{% for item in query %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{item.pos.pos_name}}</td>
                <td>
                    {{item.pos.cmp_name.name}}
                </td>
				<td>{{item.pos.test_date}}</td>
				<td>
				{% if item.stat == 0 %}
					<div>
						Pending
					</div>
					{% elif item.stat == 1%}
					<div>
						Accepted
					</div>
					{% else %}
					<div>
						Rejected
					</div>
				{% endif %}
				</td>
            </tr>
		{% endfor %}
	</table>
</body>
{% endblock %}