{% extends 'company/compbase.html' %}

{% block body %}
<style>
	table,
	th,
	td {
		border: 1px solid black;
		border-collapse: collapse;
		padding: 15px;
	}
</style>
<script type='text/javascript'></script>
<script>
	function confirmation(x){

	var user_choice = window.confirm('Are you sure you want to close?');

	if(user_choice==true) {
	return window.location='/tpcm_app/company/application/close?id=' + x;
	} else {
	return false;
	}
}
</script>
<script>
	function stat(x, y){
	if(y == 1)
	var user_choice = window.confirm('Are you sure you want to accept?');
	else 
	var user_choice = window.confirm('Are you sure you want to reject?');
	if(user_choice==true) {
	var str = '/tpcm_app/company/application/status?id=';
	str += x;
	str += ';stat=';
	str += y;
	return window.location= str;
	} else {
	return false;
	}
}
</script>
<style>
	i {
	  display: inline-block;
	  padding: 3px;
	}
	
	.up {
		border: solid green;
		border-width: 0 3px 3px 0;
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	}
	
	.down {
		border: solid red;
		border-width: 0 3px 3px 0;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
</style>
<body id="page-top">
		<h1><b><center>Applications</center></b></h1>
		<br><br>
	<table style="position: relative; margin-left: auto; margin-right:auto;">
		<tr>
			<th>S.no</th>
			<th>Applied Position
				<a href="/tpcm_app/company/application?sort=1{{id}}"><i class="up"></i></a>
				<a href="/tpcm_app/company/application?sort=-1{{id}}"><i class="down"></i></a>
			</th>
			<th>Student
					<a href="/tpcm_app/company/application?sort=2{{id}}"><i class="up"></i></a>
					<a href="/tpcm_app/company/application?sort=-2{{id}}"><i class="down"></i></a>
			</th>
			<th>CPI
					<a href="/tpcm_app/company/application?sort=3{{id}}"><i class="up"></i></a>
					<a href="/tpcm_app/company/application?sort=-3{{id}}"><i class="down"></i></a>
			</th>
			<th>Branch
					<a href="/tpcm_app/company/application?sort=4{{id}}"><i class="up"></i></a>
					<a href="/tpcm_app/company/application?sort=-4{{id}}"><i class="down"></i></a>
			</th>
			<th>Date of application
					<a href="/tpcm_app/company/application?sort=5{{id}}"><i class="up"></i></a>
					<a href="/tpcm_app/company/application?sort=-5{{id}}"><i class="down"></i></a>
			</th>
			<th>Close application</th>
			<th>Application status
					<a href="/tpcm_app/company/application?sort=6{{id}}"><i class="up"></i></a>
					<a href="/tpcm_app/company/application?sort=-6{{id}}"><i class="down"></i></a>
			</th>
		</tr>
		{% for item in query %}
                <tr>
                    <td>{{forloop.counter}}</td>
					<td>
						<a href="/tpcm_app/company/application/desc?id={{item.pos_id}}">
						{{item.pos.pos_name}}
						</a>
					</td>
					<td>
						<a href = "/tpcm_app/company/application/stud_profile?id={{item.stud.user_id}}">
							{{item.stud.name}}
						</a>
					</td>
					<td>{{item.stud.cpi}}</td>
					<td>{{item.stud.dept}}</td>
					<td>{{item.app_date}}</td>
					<td>
						<center>
						<input type="button" value="Close" onclick="confirmation({{item.id}})" />
						</center>
					</td>
					<td>
						{% if item.stat == 0 %}
						<input type="button" value="Accept" onclick="stat({{item.id}}, 1)" />
						<input type="button" value="Reject" onclick="stat({{item.id}}, 2)" />
						{% elif item.stat == 1%}
						<div>
							Accepted
						</div>
						{% else %}
						<div>
							Rejected
						</div>
						{% endif %}
					</td>
                    
				</tr>
		{% endfor %}
	</table>
</body>
{% endblock %}