{% extends 'company/compbase.html' %}

{% block body %}
<style>
	table,
	th,
	td {
		border: 1px solid black;
		border-collapse: collapse;
		padding: 15px;
	}
</style>
<script type='text/javascript'>

	function confirmation(x){

	var user_choice = window.confirm('Are you sure you want to close?');

	if(user_choice==true) {
	window.location='/tpcm_app/company/application/close?id=' + x;
	} else {
	return false;
	}
}
</script>
<body id="page-top">

	<table style="position: relative; margin-left: auto; margin-right:auto;">
		<tr>
			<th>Sr.no</th>
            <th>Applied Position</th>
			<th>Student detail</th>
			<th>Close Application</th>
		</tr>
		{% for item in query %}
            {% if item.pos.cmp_name.name == username %}
                <tr>
                    <td>{{forloop.counter}}</td>
					<td>{{item.pos.pos_name}}</td>
					<td>
						<a href = "/tpcm_app/company/application/stud_profile?id={{item.stud.user_id}}">
							{{item.stud.name}}
						</a>
					</td>
					<td>
						<center>
						<input type="button" value="Close" onclick="confirmation({{item.id}})" />
					</center>
					</td>
                    
				</tr>
			{% endif %}
		{% endfor %}
	</table>
</body>
{% endblock %}