{% extends 'company/compbase.html' %}

{% block body %}
<style>
	table,
	th,
	td {
		border: 1px solid black;
		border-collapse: collapse;
		padding: 15px;
	}
	i {
	  display: inline-block;
	  padding: 3px;
	}
	
	.up {
		border: solid green;
		border-width: 0 3px 3px 0;
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	}
	
	.down {
		border: solid red;
		border-width: 0 3px 3px 0;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
</style>
<script type='text/javascript'>

	function confirmation(x){

	var user_choice = window.confirm('Are you sure you want to close?');

	if(user_choice==true) {
	window.location='/tpcm_app/company/positions/close?id=' + x;
	} else {
	return false;
	}
}
</script>
<body id="page-top">
		<h1><b><center>Positions Created</center></b></h1>
		<br><br>
	<table style="position: relative; margin-left: auto; margin-right:auto;">
		<tr>
			<th>Sr.no</th>
			<th>Job Position
					<a href="/tpcm_app/company/positions?sort=1"><i class="up"></i></a>
					<a href="/tpcm_app/company/positions?sort=-1"><i class="down"></i></a>
			</th>
			<th>Online Test Date
					<a href="/tpcm_app/company/positions?sort=2"><i class="up"></i></a>
					<a href="/tpcm_app/company/positions?sort=-2"><i class="down"></i></a>
			</th>
			<th>View applications</th>
			<th>Close Position</th>
		</tr>
		{% for item in query %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>
					
					<a href="/tpcm_app/company/application/desc?id={{item.id}}">
						{{item.pos_name}}
					</a>
				</td>
				<td>{{item.test_date}}</td>
				<td>
					<center>
						<input type="button" value="View" onclick="window.location='/tpcm_app/company/application?id={{item.id}}'" />
					</center>
				</td>
				<td>
					<center>
					<input type="button" value="Close" onclick="confirmation({{item.id}})" />
					</center>
				</td>
			</tr>
		{% endfor %}
	</table>
</body>
{% endblock %}