{% extends 'student/studbase.html' %}

{% block title %}Update profile{% endblock %}

{% block body %}
<style>
       table, th, td {
		/* border: 1px solid black; */
		border-collapse: collapse;
		padding: 15px;
	}
    .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008cba;
    margin-top:12%;
    display:block;
    }
</style>

}
<h1><b><center>Update Profile</center></b></h1>
<br><br>
<div style="position:relative; left:370px; bottom:50px">
        <div class="container">
            <form method="post">
                    {% csrf_token %}
                    <table  align="center">
                    {{ form.as_table}}
                    </table>
                    <button class="button button2" type="submit">Update</button>
                    
            </form>
        </div>
</div>
        
{% endblock %}
