{% extends 'student/studbase.html' %}

{% block body %}
<style>
	table, th, td {
		border: 1px solid black;
	}
</style>
<table style="width:70%">
		<tr>
			<th>S.no</th>
			<th>Position Name</th>
			<th>Company Name</th>
			<th>Date of Online test</th>
		</tr>
		{% for item in query %}
		<tr> 
			<td>{{forloop.counter}}</td>
			<td>
				<a href="/tpcm_app/student/position/desc?id={{item.id}}">
					{{item.pos_name}}
				</a>
				
			</td>
			<td>{{item.cmp_name.name}}</td>
			<td>{{item.test_date}}</td>
		</tr>
		{% endfor %}
</table>
{% endblock %}




