{% extends 'student/studbase.html' %}

{% block body %}
<style>
	table.center{margin-left:auto;margin-right: auto;}

	table, th, td {
		border: 1px solid black;
	}
</style>
<table style="width:70%" class="center">
		<tr>
			<th>S.no</th>
			<th>Position Name</th>
			<th>Company Name</th>
			<th>Date of Online test</th>
			<th>Create Application</th>
		</tr>
		{% for item in query %}
		<tr> 
			<td>{{forloop.counter}}</td>
			<td>
					{{item.pos_name}}
			</td>
			<td>{{item.cmp_name.name}}</td>
			<td>{{item.test_date}}</td>
			<td>
				<center>
				<input type="button" value="Apply" onclick="window.location='/tpcm_app/student/position/desc?id={{item.id}}'"/>
				</center>
			</td>
		</tr>
		{% endfor %}
</table>
{% endblock %}




