<!DOCTYPE html>

<html lang="en">
	<head>
        <meta charset="utf-8">
        <title>TPC Management System</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/static/bootstrap.min.js"></script>
		<script src="/static/SmoothScroll.js"></script>
        <script src="/static/theme-scripts.js"></script>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<!-- Bootstrap core CSS -->
		<link href="/static/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- Custom styles for this template -->
        <link href="/static/style.css" rel="stylesheet">
        <link href="/static/btns.css" rel="stylesheet">
        
	</head>
	<style>
	img{
		filter: alpha(opacity=44); /* For IE8 and earlier */
		display: block;
		margin-left: auto;
        margin-right: auto;
	}
	h2{
		font-weight:270;
	}
    h3{ 
    position: absolute; 
    top: 200px; 
    left: 0; 
    width: 100%; 
    }
	</style>
	
	<body id="page-top">
		<!-- Navigation -->
		<nav class="navbar navbar-default">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a class="page-scroll" href="/tpcm_app/">Home</a>
						</li>
                        <li>
                                <a class="page-scroll" href="/tpcm_app/student/profile">{{username}}</a>
                        </li>
                        <li>
                                <a class="page-scroll" href="/tpcm_app/signout">Sign out</a>
                        </li>
					</ul>
                </div >
                <!-- /.navbar-collapse -->
		</nav>
	</body>
	<div>
		<a ><img src="/static/logo.png" class="center" style="opacity:0.25; height: 450px;" ></a>
		<h3>
		{% block body %}
		{% endblock %}
		</h3>
	</div>
</html>